namespace: staking-api-service
name: staking-api-service
deployment:
  image: 490721144737.dkr.ecr.us-east-1.amazonaws.com/staking-api-service
  version: REPLACEME
  replicas: 2
  ports:
    - protocol: TCP
      containerPort: 8090
      name: staking-api
    - protocol: TCP
      containerPort: 2112
      name: prom
  env:
    - name: CONFIG
      value: /home/staking-api-service/config.yml
  volumes:
    - name: staking-api-service
      projected:
        sources:
          - configMap:
              name: staking-api-service
          - configMap:
              name: phase1-global-config
          - configMap:
              name: phase1-finality-providers
  volumeMounts:
    - name: staking-api-service
      mountPath: /home/staking-api-service
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "2112"
    prometheus.io/scheme: http
    prometheus.io/scrape: "true"
    configmap.reloader.stakater.com/reload: "staking-api-service, phase1-global-config, phase1-finality-providers"
  nodeSelector:
    workload: "webservices"
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app: staking-api-service
            topologyKey: topology.kubernetes.io/zone
          weight: 1
service:
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: staking-api
      name: staking-api
    - protocol: TCP
      port: 2112
      targetPort: prom
      name: prom
ingress:
  enabled: true
  # TODO: Update LB group pre phase-1
  groupName: "testnet3-public"
  tlsCertArn: arn:aws:acm:us-east-2:490721144737:certificate/2c6cb5ad-8899-4871-9206-ea8e978aebae
  scheme: "internet-facing"
  hosts:
    - host: API_FQDN
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ssl-redirect
                port:
                  name: use-annotation
          - path: /
            pathType: Prefix
            backend:
              service:
                name: staking-api-service
                port:
                  name: staking-api
externalDns:
  fqdn: API_FQDN
  ttl: 60
purgeCloudflareCache:
  enabled: false
configFiles:
  config.yml: |
    server:
      host: 0.0.0.0
      port: 8090
      write-timeout: 60s
      read-timeout: 60s
      idle-timeout: 60s
      allowed-origins: [ "*" ]
      log-level: debug
      btc-net: "mainnet"
    db:
      address: mongodb://mongodb-headless.mongodb-staking-api:27017
      db-name: staking-api-service
      max-pagination-limit: 20
      db-batch-size-limit: 100
      logical-shard-count: 10
    queue:
      queue_user: USER
      queue_password: PASSWORD
      url: "rabbitmq-headless.rabbitmq:5672"
      processing_timeout: 30
      msg_max_retry_attempts: 10
      requeue_delay_time: 300
    metrics:
      host: 0.0.0.0
      port: 2112
