server:
  host: 0.0.0.0
  port: 8092
  write-timeout: 60s
  read-timeout: 60s
  idle-timeout: 60s
  allowed-origins: [ "*" ]
  log-level: debug
db:
  address: "mongodb://localhost:27017"
  db-name: staking-api-service
queue:
  queue_user: user # can be replaced by values in .env file
  queue_password: password
  url: "localhost:5672"
  processing_timeout: 30
  max_retry_attempts: 3
metrics:
  host: 0.0.0.0
  port: 2112