server:
  host: 0.0.0.0
  port: 8092
  write-timeout: 60s
  read-timeout: 60s
  idle-timeout: 60s
  allowed-origins: [ "*" ]
  log-level: debug
  btc-net: "signet"
  max-content-length: 4096
  health-check-interval: 300 # 5 minutes interval
db:
  address: "mongodb://localhost:27017/?directConnection=true"
  db-name: staking-api-service
  max-pagination-limit: 10
  db-batch-size-limit: 100
  logical-shard-count: 2
queue:
  queue_user: user # can be replaced by values in .env file
  queue_password: password
  url: "localhost:5672"
  processing_timeout: 30
  msg_max_retry_attempts: 3
  requeue_delay_time: 60
  queue_type: quorum
metrics:
  host: 0.0.0.0
  port: 2112
